.planet{
    width: 376px;
    height: 376px;
    // margin: 60px;
    position: absolute;
    border-radius:50% ;
}   
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.rotate{
    animation: spin 15s linear 0s infinite;
}