.selected{
    margin-right: 20px;
    border-bottom: 2px solid white;
    color: white;
    margin-right: 40px;
    cursor: pointer;
}
.unSelected{
    margin-right: 40px;
    cursor: pointer;
    color: rgb(178, 178, 178);
}
