.content{
    color: white;
    max-width: 400px;
}
.name{
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
}
.tech{
    margin: 0;
    font-size: 14px;
}
.desciption{
    font-size: 16px;
}