.useCircle{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 32px;
    font-weight: 400;
    margin: 0 70px 20px 0;

    cursor: pointer;
}
.unuseCircle{
    width: 70px;
    height: 70px;
    background-color: transparent;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
    font-weight: 400;
    margin: 0 70px 20px 0;
    border: 1px solid rgba(136, 136, 136, 0.629);
    cursor: pointer;
}