.bg{
    background-image: url('../../../public/image/destination/background-destination-desktop.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
}
.title{
    color: white;   
    font-size: 28px;
    margin-bottom: 40px;
}
.title span{
    color: rgb(172, 172, 172);
}
.content{
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0 180px;
}
.topper{
    display: flex;
}
.contentBox{
    display: flex;
    width: 100%;
    min-height:450px;
}
.textBox{
    display: flex;
    margin-left: 250px;
    overflow: hidden;
}
.imageBox{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-height: 400px;
}
.textBox{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.navBox{
    display: flex;
}